$dark:#131325;
$success: #1ea94b;

@import 'styles/book.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

*,html, body {
  margin: 0px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: white;
  padding-top: 80px;
  text-align: center;
}

input:focus{
  outline: none;
}

.book-container {
  background-color:white;
  color: black;
  -moz-box-shadow:    3px -3px 15px -6px #ccc;
  -webkit-box-shadow: 3px -3px 15px -6px #ccc;
  box-shadow:         3px -3px 15px -6px #ccc;
}

// Media Queries

@media only screen and (min-width: 270px) {

  .form-search input {
    width: 90%;
  }
}

@media only screen and (min-width: 378px) {
  .book-form {
    margin: 0px 2rem !important;
  }

  .form-search input {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .book-form {
    margin: 0px 15rem !important;
  }

  .form-search input {
    width: 60%;
  }
}

@media only screen and (min-width: 1366px) {
  .book-form {
    margin: 0px 20rem !important;
  }

  .form-search input {
    width: 60%;
  }
}

