$dark:#131325;
$success: #1ea94b;

*,html {
  margin: 0px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: white;
  padding-top: 80px;
  text-align: center;
}

.book-container {
  background-color:darken(white,5%);
  color: black;
}

@media only screen and (min-width: 378px) {
  .book-form {
    margin: 0px 2rem !important;
  }

  .form-search input {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .book-form {
    margin: 0px 15rem !important;
  }

  .form-search input {
    width: 60%;
  }
}

@media only screen and (min-width: 1366px) {
  .book-form {
    margin: 0px 20rem !important;
  }

  .form-search input {
    width: 60%;
  }
}

